asgiref==3.8.1
autopep8==2.3.2
colorama==0.4.6
Django==5.2.1
django-filter==25.1
django-redis==6.0.0
django-silk==5.3.2
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
gprof2dot==2025.4.14
hiredis==3.2.1
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
pycodestyle==2.13.0
PyJWT==2.9.0
pytest==8.3.5
pytest-django==4.11.1
redis==6.2.0
sqlparse==0.5.3
tzdata==2025.2
psycopg[binary]